<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css' )}}">


    {% if title %}
        <title>Trainee - {{ title }}</title>
    {% else %}
        <title> Trainee </title>
    {% endif %}
</head>
<body>
    <header class="header-global">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container position-relative">
                <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                    <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                        {% if current_user.is_authenticated %}
                            <li class="nav-item mr-2">
                                <a class="nav-item nav-link text-white" href="{{ url_for('main.home')}}">Home</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-item nav-link text-white" href="{{ url_for('users.profile')}}">Profile</a> 
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-item nav-link text-white" href="{{ url_for('players.player_page')}}"> My Player</a> 
                            </li>
                        {% else %}
                            <li class="nav-item mr-2">
                                <a class="nav-item nav-link text-white" href="{{ url_for('main.home')}}">Home</a>
                            </li>
                            <li class="nav-item mr-2">
                                <a class="nav-item nav-link text-white" href="{{ url_for('users.login')}}">Profile</a> 
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="d-flex align-items-center ml-auto">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('sessions.new_session')}}" class="btn btn-warning text-dark m-2">
                        Create New Session
                        </a>
                        <a href="{{ url_for('users.logout')}}" class="btn btn-light text-dark mr-md-3">
                        Logout
                        </a>
                    {% else %}
                        <span class="fas fa-rocket mr-2">
                            <a href="{{ url_for('users.register')}}" class="btn btn-warning text-dark mr-md-3">Get Started!</a>
                            <a href="{{ url_for('users.login')}}" class="btn btn-light text-dark mr-md-3"> Sign In </a>
                        </span>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
        
            <!-- creates a temporary success message after making account -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>    
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
        <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
            </ul>
            </p>
        </div>
        </div>
    </div>
    </main>

    <!-- JS Boostrap Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>