{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Posts by {{ user.username }} ({{ sessions.total }})</h1>
    {% for session in sessions.items %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + 'default.jpeg') }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href=" {{ url_for('users.user_sessions', username=session.author.username) }}">{{ session.author.username }}</a>
            </div>
            <div class="col-md-10">
              <h4><a class="article-title" href="{{ url_for('sessions.session', session_id=session.id) }}">{{ session.title }}</a></h4>
              <p> <b>Location: </b> {{ session.location }} </p>
              <p> <b>Session Focus: </b> {{ session.skillFocus }} </p>
              <p> <b>Session Date: </b> {{ session.session_date }} at {{ session.session_time.strftime('%H:%M') }} </p>
              <p> <b>Player Count: </b> {{ session.participants|length + 1}} / 10 </p>
          </div>
          </div>
        </article>
    {% endfor %}

    {% for page_num in sessions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if sessions.page == page_num %}
          <a class= "btn btn-info mb-4" href= "{{ url_for('users.user_sessions', username=user.username, page=page_num) }}"> {{ page_num }}</a>
        {% else %}
          <a class= "btn btn-outline-info mb-4" href= "{{ url_for('users.user_sessions', username=user.username, page=page_num) }}"> {{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}