{% extends "layout.html" %}
{% block content %}
    <h1> login page </h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }} <!-- accessing the username var in LoginForm()-->
        {{ form.password }} <!-- accessing the password var in LoginForm()-->
        {{ form.submit }} <!-- accessing the submit var in LoginForm()-->
    </form>

    <a href="{{url_for('register')}}"> Don't Have an Account? SIGN UP </a> <br>                     
{% endblock content %}