body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
    object-fit:cover;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
    object-fit:cover; 
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  /* @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
.player-card {
  background: #1c1c4a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: #7a7ab8;
  display: flex;
}
.player-card-aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  width: 80px;
}
.player-card-overall {
  margin-bottom: 20px;
}
.player-card-rating {
  color: #f90;
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}
.player-card-team > img {
  margin: 0 10px;
  margin-bottom: 10px;
  max-height: 50px;
  max-width: 80%;
  width: auto;
}
.player-card-info {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
  margin-top: auto;
}
.player-card-main {
  flex: 1;
}
.player-card-header {
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/148/777/non_2x/vector-white-tiger-stripes.png");
  background-color: #0f0f3d;
  background-blend-mode: screen;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.player-card-image {
  width: 80%;
}
.player-card-name {
  color: #f90;
  border-top: 1px solid;
  border-bottom: 1px solid;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}
.player-card-attribute {
  display: flex;
  flex-direction: row;
  flex-basis: 50%;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
.player-card-attributes {
  background: #0f0f3d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0;
}
.player-card-attribute__value {
  color: #fff;
  flex-basis: 40%;
  font-size: 35px;
  font-weight: bold;
  margin-right: 6px;
  text-align: right;
}
/* body {
  background: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
} */
/* .player-container {
  margin: 50px auto;
  width: 500px;
} */ */
/* img {
  width: 100%;
  object-fit: cover;
} */